<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project2.mapper.RecruitMapper">

    <resultMap type="com.example.project2.domain.Recruit" id="recruitResultMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="body" property="body"/>
        <result column="inserted" property="inserted"/>
        <result column="writer" property="writer"/>
        <result column="vStartDate" property="vStartDate"/>
        <result column="vEndDate" property="vEndDate"/>
        <result column="vStartTime" property="vStartTime"/>
        <result column="vEndTime" property="vEndTime"/>
        <result column="vField" property="vField"/>
        <result column="vPlace" property="vPlace"/>
        <result column="addressSggNm" property="addressSggNm"/>
        <result column="tel" property="tel"/>
<!--        <result column="likeCount" property="likeCount"/>-->
        <collection property="fileName" ofType="string">
            <result column='fileName'/>
        </collection>
    </resultMap>

</mapper>